<div class="text-center">
  <h1>Is Mark Challenger Yet?</h1>

  <h1><%= @answer %></h1>

  <% if @division %>
    <h3>Mark is <%= @tier %> <%= @division %>, <%= @points %> points.</h3>
  <% else %>
    <h3>Mark is <%= @tier %>, <%= @points %> points.</h3>
  <% end %>

  <p>8)</p>
</div>
